*{ 
    margin: 0px;
    font-family: Georgia;
    color: #757575;
}
.basic_frame{
    display:flex;
    justify-content: center;
}
.max_width{
    max-width: 1200px;
}
.navigation_frame{
    display: flex;
    align-items: center;
    width: 1200px;
    margin-top: 10px; 
    margin-bottom: 10px;
}
.navigation_left{
    font-size: 30px;
    color: #448899;
    font-weight: bold;
    width: 100%;
}
.navigation_right{
    width: 130px;
    margin-right: 15px;
    text-align: center;
}



/* 封面圖 */
.slogan_background{
    background-image: url("/static/images/welcome_image.png");
    background-repeat: no-repeat; 
    background-position: top;
    background-size:cover;
    height: 320px;
    max-width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 30px;
}
.slogan_frame{
    width:1200px;
    padding-left: 10px;
}
.slogan_word{
    color:white;
    font-weight: bolder;
    padding-bottom: 22px; 
}
.title{
    font-size: 30px;   
}
.subtitle{
    font-size: 17.5px;
}

/* 搜尋欄 */
.search_input_frame{
    display: flex;
    width: 460px;
}
.search_input{
    border-width: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    width: 385px;
    height: 46px;
    padding-left: 15px;
    font-weight: bolder;
    font-size: 16px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.search_btn{
    background-color: #448899;
    border-width: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 60px;
    height: 48px;
}

/* 捷運列 */
.mrt_frame{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 30px;  
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
}
.mrt_list{
    display:flex;
    width: 1200px;
    overflow: hidden; /* 超出隱藏 */
    white-space: nowrap; /* 超出不換行 */
    overflow-x: auto; /* 水平滾動 */
    scroll-behavior: smooth;
}
.mrt_list::-webkit-scrollbar{
    display: none; /* 隱藏水平滾動軸 */
}
.mrt_word{
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
    cursor: pointer;
    margin-bottom: 5px;  
}
.list_btn{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* 景點列表 */
.attraction_frame{
    display:flex;
    justify-content: center;
}
.attraction{
    border-style: solid;
    border-width: 1px;
    border-color: #E8E8E8;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    /* width:calc(25% - 32.5px); */
    width: 267.5px;
    margin-top: 15px;
    margin-bottom: 15px;  
}
.attraction_img{
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;
    position: relative;
    display:flex;
    align-items: flex-end;
}
.attraction_img_new{
    width: 100%;
    height: 202px;
}
.attraction_name{
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);;
    color: white;
    width: calc(100% - 10px);
    font-weight: bolder;
    height: 40px;
    padding-left: 10px;
}
.attraction_word{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
}
.attraction_word_mrt{
    margin-left: 10px;
    width: 65%;
}
.attraction_word_cat{
    margin-right: 10px;
    width: 35%;
    text-align: right;
}
.no_result_message{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    height: 15vw;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -150px;
    color:white;
    background-color: #757575;
    width:100%;
    height: 104px;
}



@media(min-width:1920px){
    .attraction_frame{
        flex-wrap: wrap;    
    }
}
@media(max-width:1920px){
    .attraction_frame{
        flex-wrap: wrap;    
    }
}


@media(max-width:1200px){
    .max_width{
        width: 90%;
    }
    .navigation_frame{
        width: 100%;
    }
    .mrt_list{
        width: 90%;
    }
    .attraction{
        width: 320px;
    }
}

@media(max-width:600px){
    .navigation_left{
        width: 70%;
    }
    .navigation_right{
        margin-right: 0px;
    }
    .slogan_background{
        background-position: left;
    }
    .search_input_frame{
        width: 100%;
    }
    .search_input{
        outline: none;
        width: 20%;
    }
    .search_btn{
        width: 5%;
    }
    
}