*{ 
    margin:0px;
    font-family: Georgia;
    color: #757575;
}
.basic_frame{
    display:flex;
    justify-content: center;
}
.max_width{
    max-width: 1200px;
}
.navigation_frame{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
    margin-bottom:10px;
}
.navigation_left{
    font-size: 30px;
    color: #448899;
    font-weight: bold;
    padding-right: 865px;
}
.navigation_right{
    padding-right: 10px;
    padding-left: 10px;
}

/* 封面圖 */
.slogan_background{
    background-image: url("/static/images/welcome_image.png");
    background-repeat: no-repeat; 
    background-position: top;
    background-size:cover;
    height: 320px;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 30px;
}
.slogan_frame{
    width:1200px;
    padding-left: 10px;
    margin-bottom: 30px;
}
.slogan_word{
    color:white;
    font-weight: bolder;
    padding-bottom: 20px; 
}
.title{
    font-size: 30px;   
}
.subtitle{
    font-size: 17.5px;
}

/* 捷運列 */
.mrt_list{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 30px;  
}
.mrt_word{
    width: 1200px;
}
.list_btn{
    width: 30px;
    height: 30px;
}

/* 景點列表 */
.attraction_frame{
    display:flex;
    justify-content: center;
}
.attraction{
    border-style: solid;
    border-width: 1px;
    border-color: #E8E8E8;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    width:calc(25% - 32.5px);
    margin-top: 15px;
    margin-bottom: 15px;  
}
.attraction_img{
    /* background-image: url("/static/images/pug.jpg"); */
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 202px;
    display:flex;
    align-items: flex-end;
}
.attraction_name{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);;
    color: white;
    width: 100%;
    font-weight: bolder;
    height: 40px;
    padding-left: 10px;
}
.attraction_word{
    display: flex;
    align-items: center;
    height:40px;
}
.attraction_word_mrt{
    margin-left: 10px;
}
.attraction_word_cat{
    margin-left: 120px;
}



.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    color:white;
    background-color: #757575;
    width:100%;
    height: 104px;
}

@media(min-width:1920px){
    .attraction_frame{
        flex-wrap: wrap;    
    }
}
@media(max-width:1920px){
    .attraction_frame{
        flex-wrap: wrap;    
    }
}