<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip 台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/static/attraction-layout.css" />
</head>
<body>

<!-- 最上面一欄 -->
    <div class="basic_frame">
        <div class="max_width">
            <div class="navigation_frame">
                <a href="/"><div class="navigation_left">台北一日遊</a></div>
                <div class="navigation_right" id="booking">預定行程</div>
                <div class="navigation_right" id="open_popup">登入／註冊</div>
                <div class="navigation_right" id="logout">登出</div>
            </div>
        </div>
    </div>
<hr class="hr_style upper">

<!-- 彈跳視窗 -->
<div class="popup_overlay" id="popup"> 
    <div class="pop_frame_register" id="pop_frame_register">
        <div class="pop_upper"></div>
        <h2 class="pop_h2">註冊會員帳號</h2>
        <div>
            <label for="name"></label>
            <input class="pop_content registerContent" name="register_name" placeholder="輸入姓名" type="text"/>
        </div>
        <div>
            <label for="email"></label>
            <input class="pop_content registerContent" name="register_email" placeholder="輸入電子郵件"  type="text"/>
        </div>
        <div>
            <label for="password"></label>
            <input class="pop_content registerContent" name="register_password" placeholder="輸入密碼" type="password"/>
        </div>
        <div class="pop_content registerBtn" id="register_btn">註冊新帳戶</div>
        <div class="pop_ask" id="pop_ask_signin">
            <div class="asking">已經有帳戶了？</div>
            <div class="click_word_signin" id="click_word_signin">點此登入</div>
        </div>
        <div class="registerResult" id="registerResult"></div>
    </div>
    <!-- 登入會員帳號 -->
    <div class="pop_frame_signin" id="pop_frame_signin">
        <div class="pop_upper"></div>
        <h2 class="pop_h2">登入會員帳號</h2>
        <div>
            <label for="email"></label>
            <input class="pop_content registerContent" name="sign_email" placeholder="輸入電子郵件" type="text"/>
        </div>
        <div>
            <label for="password"></label>
            <input class="pop_content registerContent" name="sign_password" placeholder="輸入密碼" type="password"/>
        </div>
        <div class="pop_content registerBtn" id="pop_sign_btn">登入帳戶</div>
        <div class="pop_ask" id="pop_ask_register">
            <div class="asking">還沒有帳戶？</div>
            <div class="click_word_register" id="click_word_register">點此註冊</div>
        </div>
        <div class="signInResult" id="signInResult"></div>
    </div>
</div>

<!-- 圖片＋標題 -->
<div class="basic_frame">
    <div class="max_width">
            <!-- 圖片輪播 -->
            <div class="introduction" id="introduction">
                <div class="carousel" id="carousel">
                    <div class="container" id="container">
                        <!-- <div class="main">
                            <img src="/static/images/test.jpg"/>
                        </div> -->
                    </div>
                    <div class="shift">
                        <div class="btn left" onclick="leftShift()">&lt;</div>
                        <div class="btn right" onclick="rightShift()">&gt;</div>
                    </div>
                    <div class="bottom"></div>
                </div>
                <!-- 景點標題 -->
                <div class="introduction_title_frame" id="introduction_title_frame">
                    <!-- <h2>景點名稱</h2>
                    <div style="margin-bottom: 10px;">景點分類 at 捷運站名</div>
                    <div class="tour_frame">
                        <h4 class="h4">訂購導覽行程</h4>
                        <div>以此景點為中心的一日行程，帶您探索城市角落故事</div>
                            <h4 class="h4">選擇日期：</h4>
                            <input type="date" value="yyyy-MM-dd" class="tour_date"/>
                        </div>
                        <div class="tour_word">
                            <h4 class="h4">選擇時間：</h4>                       
                            <div class="radio">
                                <input id="radio-1" name="radio" type="radio" checked>
                                <label for="radio-1" class="radio_label">上半天</label>
                            </div>
                            <div class="radio">
                                <input id="radio-2" name="radio" type="radio">
                                <label for="radio-2" class="radio_label">下半天</label>
                            </div>
                        </div>
                        <div class="tour_word">
                            <h4 class="h4">導覽費用：</h4>
                            <div class="fee" id="fee-1">新台幣 2000 元</div>
                            <div class="fee" id="fee-2">新台幣 2500 元</div>
                        </div>
                        <button class="btn_reserve">開始預約行程</button>
                    </div> -->

                </div>
            </div>

            <div class="content_description">
                <hr class="hr_style">
                <div class="content_frame" id="content_frame">
                    <!-- <p>景點介紹文字</p>
                    <div class="content">
                        <h4>景點地址：</h4>
                        <div></div>
                    </div>
                    <div class="content">
                        <h4>交通方式：</h4>
                        <div></div>
                    </div> -->
                </div>
            </div>

    </div> 
</div>
    <!-- <p id="terget"></p> -->
<!-- footer -->
    <div class="footer">COPYRIGHT © 台北一日遊</div>    
    <script src="/static/js/attraction.js"></script>
    <script src="/static/js/popup.js"></script>
</body>
</html> 