<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip 台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/static/layout.css" />
</head>
<body>
<!-- 最上面一欄 -->
    <div class="basic_frame">
        <div class="max_width">
            <div class="navigation_frame">
                <div class="navigation_left">台北一日遊</div>
                <div class="navigation_right">預定行程</div>
                <div class="navigation_right">登入／註冊</div>
            </div>
        </div>
    </div>
<!-- 封面圖 -->
    <div class="slogan_background">
        <div class="max_width">
            <div class="slogan_frame">
                <div class="slogan_word title">輕鬆享受台北一日悠閒</div>
                <div class="slogan_word subtitle">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="slogan_subtitle">搜尋欄在這裡</div>
            </div>
        </div>
    </div>
<!-- 捷運列 -->
<div class="basic_frame">
    <div class="max_width">
        <div class="mrt_list">
            <img src="/static/images/list-bar-left.png" class="list_btn"/>
            <div class="mrt_word">捷運站      捷運站      捷運站      捷運站      捷運站     捷運站</div>
            <img src="/static/images/list-bar-right.png" class="list_btn"/>
        </div>
    </div>
</div>

<!-- 景點列表 -->
    <div class="basic_frame">
        <div class="max_width">
            <div class="attraction_frame">
                
                <div class="attraction">
                    <div class="attraction_img">
                        <div class="attraction_name">景點名稱</div>
                    </div>
                    <div class="attraction_word">
                        <div class="attraction_word_mrt">捷運站名</div>
                        <div class="attraction_word_cat">景點分類</div>
                    </div>
                </div>

                <div class="attraction">
                    <div class="attraction_img">
                        <div class="attraction_name">景點名稱</div>
                    </div>
                    <div class="attraction_word">
                        <div class="attraction_word_mrt">捷運站名</div>
                        <div class="attraction_word_cat">景點分類</div>
                    </div>
                </div>

                <div class="attraction">
                    <div class="attraction_img">
                        <div class="attraction_name">景點名稱</div></div>
                    <div class="attraction_word">
                        <div class="attraction_word_mrt">捷運站名</div>
                        <div class="attraction_word_cat">景點分類</div>
                    </div>
                </div>

                <div class="attraction">
                    <div class="attraction_img">
                        <div class="attraction_name">景點名稱</div></div>
                    <div class="attraction_word">
                        <div class="attraction_word_mrt">捷運站名</div>
                        <div class="attraction_word_cat">景點分類</div>
                    </div>
                </div>

                <div class="attraction">
                    <div class="attraction_img">
                        <div class="attraction_name">景點名稱</div>
                    </div>
                    <div class="attraction_word">
                        <div class="attraction_word_mrt">捷運站名</div>
                        <div class="attraction_word_cat">景點分類</div>
                    </div>
                </div>

                <div class="attraction">
                    <div class="attraction_img">
                        <div class="attraction_name">景點名稱</div>
                    </div>
                    <div class="attraction_word">
                        <div class="attraction_word_mrt">捷運站名</div>
                        <div class="attraction_word_cat">景點分類</div>
                    </div>
                </div>

                <div class="attraction">
                    <div class="attraction_img">
                        <div class="attraction_name">景點名稱</div>
                    </div>
                    <div class="attraction_word">
                        <div class="attraction_word_mrt">捷運站名</div>
                        <div class="attraction_word_cat">景點分類</div>
                    </div>
                </div>

                <div class="attraction">
                    <div class="attraction_img">
                        <div class="attraction_name">景點名稱</div>
                    </div>
                    <div class="attraction_word">
                        <div class="attraction_word_mrt">捷運站名</div>
                        <div class="attraction_word_cat">景點分類</div>
                    </div>
                </div>

                <div class="attraction">
                    <div class="attraction_img">
                        <div class="attraction_name">景點名稱</div>
                    </div>
                    <div class="attraction_word">
                        <div class="attraction_word_mrt">捷運站名</div>
                        <div class="attraction_word_cat">景點分類</div>
                    </div>
                </div>

                <div class="attraction">
                    <div class="attraction_img">
                        <div class="attraction_name">景點名稱</div>
                    </div>
                    <div class="attraction_word">
                        <div class="attraction_word_mrt">捷運站名</div>
                        <div class="attraction_word_cat">景點分類</div>
                    </div>
                </div>

                <div class="attraction">
                    <div class="attraction_img">
                        <div class="attraction_name">景點名稱</div>
                    </div>
                    <div class="attraction_word">
                        <div class="attraction_word_mrt">捷運站名</div>
                        <div class="attraction_word_cat">景點分類</div>
                    </div>
                </div>

                <div class="attraction">
                    <div class="attraction_img">
                        <div class="attraction_name">景點名稱</div>
                    </div>
                    <div class="attraction_word">
                        <div class="attraction_word_mrt">捷運站名</div>
                        <div class="attraction_word_cat">景點分類</div>
                    </div>
                </div>

            </div> 
        </div>
    </div>

<!-- footer -->
    <div class="footer">COPYRIGHT © 台北一日遊</div>    

</body>
</html>